################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source Code/Image Annotator/.vs/Image Annotator/v16/Browse.VC.opendb
